.item {
  padding: var(--spacing-20);
  background-color: rgba(var(--color-green-light), 0.5);
  border: 1px solid rgb(var(--color-green-dark));
  backdrop-filter: blur(5px);
  border-radius: 25px;
  box-shadow: 0px 5px 0px rgb(var(--color-green-dark));
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  gap: var(--spacing-10);
}

.top:not(:last-child) {
  margin-bottom: var(--spacing-20);
}

.label {
  cursor: pointer;
  position: relative;
}

.label input {
  position: absolute;
  opacity: 0;
}

.checkmark {
  width: 18px;
  height: 18px;
  position: relative;
  background-color: var(--color-white);
  border-radius: 3px;
  border: 1px solid rgb(var(--color-primary));
  box-shadow: 2px 2px rgb(var(--color-primary));

  transition: background-color var(--transition);
}

.checkmark::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 10px;
  top: 1px;
  left: 4.5px;
  border: solid var(--color-white);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  display: none;
}

.label input:checked ~ .checkmark {
  background-color: rgba(var(--color-green-dark), 0.8);
}

.label input:checked ~ .checkmark::after {
  display: block;
}

.label:has(input:checked) ~ .title {
  text-decoration: line-through;
}

.title {
  font-size: var(--fz-1);
  font-weight: 600;
  line-height: 1.2;
}

@media (max-width: 479.98px) {
  .item {
    padding: var(--spacing-10);
  }
}
