.section {
  padding: var(--spacing-20) 0;
}

.title {
  font-family: var(--family-poppins);
  font-weight: 600;
  font-size: var(--fz-3);
  line-height: 1.2;
}

.title:not(:last-child) {
  margin-bottom: var(--spacing-20);
}

@media (max-width: 767.98px) {
  .section {
    padding: var(--spacing-10) 0;
  }

  .title:not(:last-child) {
    margin-bottom: var(--spacing-10);
  }
}
