.footer {
  background-color: rgb(var(--color-green-dark));
  padding: 15px 0;
}

.footer a {
  font-size: var(--fz-1);
  color: var(--color-white);
}

.footer a:hover {
  text-decoration: underline;
}

.footer a:focus-visible {
  outline: 2px solid rgb(var(--color-focus));
  border-radius: 25px;
}
