:root {
  --family-raleway: 'Raleway', sans-serif;
  --family-poppins: 'Poppins', sans-serif;

  --color-primary: 25, 26, 25; /* Dark */
  --color-white: #ffffff;
  --color-light: #d8e9a8;
  --color-green-dark: 30, 81, 40; /* Dark green */
  --color-green-light: 78, 159, 61; /* Light green */
  --color-green-light-hover: 89, 186, 70;
  --color-error: #ff0000;

  --color-focus: 232, 106, 51;
  --color-bg: #e5f9db;

  --fz-1: 1.25rem; /* 20px */
  --fz-2: 1.5rem; /* 24px */
  --fz-3: 2rem; /* 32px */
  --fz-4: 2.5rem; /* 40px */

  --spacing-10: 0.625rem;
  --spacing-16: 1rem;
  --spacing-20: 2rem;
  --spacing-40: 2.5rem;

  --transition: 150ms ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: var(--family-raleway);
  font-weight: 500;
  color: rgb(var(--color-primary));
}

html {
  scrollbar-width: 10px;
  scrollbar-color: rgb(var(--color-green-dark)) rgb(var(--color-primary));
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background-color: rgb(var(--color-primary));
}

html::-webkit-scrollbar-thumb {
  background-color: rgb(var(--color-green-dark));
  transition: background-color var(--transition);
}

html::-webkit-scrollbar-thumb:hover {
  background-color: rgb(var(--color-green-light));
}

body {
  background-color: var(--color-bg);
}

a,
a:visited {
  text-decoration: none;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}
